{% extends 'webapp/base.html' %}
{% block title %}Modifier l'événement{% endblock %}
{% block header %}
<header>
    <h1>Modifier l'événement : {{ event.titre }}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'evenement_detail' event.id %}">Retour au détail</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer les modifications</button>
</form>
{% endblock %}
