{% extends 'webapp/base.html' %}
{% block title %}Modifier le profil utilisateur{% endblock %}
{% block header %}
<header>
    <h1>Modifier le profil de {{ profil.user.username }}</h1>
    <nav>
        <ul>
            <li><a href="{% url 'classement' %}">Retour au classement</a></li>
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enregistrer les modifications</button>
</form>
{% endblock %}
